body {
    color: rgb(243, 97, 53);
    background-color: #1D2E42;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    line-height: 50vh;
    font-size: 12em;
    max-width: 95%;
}
p{
    font-size: 3vh; 
    color: white; 
}

footer p{
    width:98%;
    text-align: right;
    font-size: 3vh;
}

.center{
    text-align: center; 
    vertical-align: middle;
    height:72vh;
}

.btns{
    width:100%;
    display: flex; 
    justify-content: center;
}

button{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    border: solid rgb(243, 97, 53) 1px;
    transition: all 0.4s ease 0s;
}

button:hover{
    background: rgb(243, 97, 53);
}